<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
#f img{
    height: 80px;
    width: 80px;

}
#f{
    background-color:#233021;
    color: white;
}
#f a{
    color: white;
    text-decoration:none;

}


    </style>
    <script src="https://kit.fontawesome.com/5769a23459.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header-area header-sticky">
    <div class="container-fluid" style="background-color:#6bec54;">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg text-white navbar-light" style="background-color:#6bec54;">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="{% static 'logo1.jpg' %}"
                                                                       style="height: 50px; width: 50px;">Dream
                            Landscaping</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="http://127.0.0.1:8000/landscape_app/aboutus/">About</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white" href="http://127.0.0.1:8000/landscape_app/contactus/">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="http://127.0.0.1:8000/landscape_app/companylogin/">Company Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="http://127.0.0.1:8000/landscape_app/userlogin/">User Login</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--header ends here-->

<!--carousel starts here-->
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <!--    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'carousellogo1.jpg' %}" class="d-block w-100" alt="..." style="height:500px">
            <div class="carousel-caption d-none d-md-block">
                <h1>Landscaping is an art it needs to be showcased</h1>
                <h5>GO Green! Save Earth</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'longplantlogo6.jpg' %}" class="d-block w-100" alt="..." style="height:500px">
            <div class="carousel-caption d-none d-md-block">
                <h1 style="color:white;">We Bring Nature To Your Home</h1>
                <h5 style="color:white;">Greening Is Our Care</h5>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--footer starts here-->
<footer id="f">


    <div class="container-fluid"
         id="g">

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="{% static 'logo1.jpg' %}">
                <h5>Dream Landscaping</h5>

                <a href="http://127.0.0.1:8000/landscape_app/contactus/"><p>Contact Us</p></a>

                <a href="http://127.0.0.1:8000/landscape_app/aboutus/"><p>About Us</p></a>

                <a href="http://127.0.0.1:8000/landscape_app/gallery/"><p>Gallery</p></a>

                <a href="http://127.0.0.1:8000/landscape_app/viewregisteredcompanies/"><p>Companies</p></a>

                <h6>&copy; Copyright Reserved</h6>


            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h4>Our Services</h4>
                <p>Commercial Landscaping</p>
                <p>Residential Landscaping</p>
                <p>Villa Landscaping</p>
                <p>Garden Landscaping</p>
                <p>Indoor Landscaping</p>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h5>Opening Hours</h5>
                <p>Mon - Sat : 10 am to 8 pm</p>
                <h5>Our Office</h5>
                <h6>Cochin, Kerala-India</h6>



            </div>

            <div class="col-lg-3  col-md-6 col-sm-12">
                <a href="E-commerceContact.html"><p>Contact us</p></a>
                <p><i class="fa-solid fa-mobile">&nbsp;</i>+91 987665443</p>
                <p><i class="fa-solid fa-envelope">&nbsp;</i>dreamlandscaping@gmail.com</p>
                <h5><i>Follow us</i><br><br><i class="fa-brands fa-instagram ">&nbsp;&nbsp;</i><i
                        class="fa-brands fa-twitter">&nbsp;</i>
                    <i class="fa-brands fa-facebook"></i></h5>

            </div>
        </div>

    </div>
    </div>

</footer>

<!--footer ends here-->

</body>
</html>