<!DOCTYPE html>
<html lang="en">
<head>
     <script src="https://kit.fontawesome.com/5769a23459.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--header starts here-->
<header class="header-area header-sticky">
    <div class="container-fluid" style="background-color:#6bec54;">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg text-white navbar-light" style="background-color:#6bec54;">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="{% static 'logo1.jpg' %}"
                                                                       style="height: 50px; width: 50px;">Dream
                            Landscaping</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Company Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">User Login</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
</body>
</html>